@font-face {
    font-family: "Doto";
    src: url('/fonts/Doto/static/Doto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.idm-page {
    background-color: black;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.options {
    display: flex;
    max-height: fit-content;
    flex-direction: column;
    background-color: black;
    color: white;
    flex: 1;
    border: 3px double white;
    padding: 5px;
    margin: 10px;
}

.display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: black;
    color: white;
    flex: 2;
    border: 3px double white;
    padding: 5px;
    margin: 10px;
    position: relative;
}

.logo {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: row;
    border: 3px double white;
    padding: 5px;
}

.header {
    display: flex;
    flex-direction: row;
    border: 3px double white;
    cursor: url('/images/cursor.png'), auto;
}

.title {
    font-size: 40px;
    flex-direction: column;
    padding: 2px;
    margin: 5px;
}

.idm-page button {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}

.idm-page button:hover {
    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

input[type="text"] {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    width: fit-content;
    height: 24px;
    font-size: 12px;
    padding: 0 8px;
}

.name {
    margin-right: 10px;
}

.home-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 2px;
    z-index: 1000;
}

@media (max-width: 767px) {
    .title {
        display: none;
    }
}
