html {
    background-color: black;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-direction: row;
}

.options {
    display: flex;
    max-height: fit-content;
    flex-direction: column;
    background-color: black;
    color: white;
    flex: 1;
    border: 1px;
    border-style: double;
    padding: 5px;
    margin: 10px;
}

.display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: black;
    color: white;
    flex: 2;
    border: 1px;
    border-style: double;
    padding: 5px;
    margin: 10px;
    position: relative;
}

.logo {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: row;
    border-style: double;
    padding: 5px;
}

.header {
    display: flex;
    flex-direction: row;
    border-style: double;
    cursor: url('/images/cursor.png'), auto;
}

.title {
    font-size: 40px;
    flex-direction: column;
    padding: 2px;
    margin: 5px;
}

button {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

input[type="text"] {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    width: fit-content;
    height: 10px;
}

.name {
    margin-right: 10px;
}