.oblique-page {
    font-family: var(--font-londrina), sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.heading {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--font-rock), system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.card {
    font-family: var(--font-yuji), serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    height: 200px;
    width: 400px;
    background-color: #e0e0e0;
    color: #101010;
    border-radius: 20px;
    border-style: outset;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.button {
    font-family: var(--font-yuji), serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    height: 80px;
    width: 200px;
    color: #101010;
    background-color: #c0c0c0;
    background: linear-gradient(to bottom, #f0f0f0, #d0d0d0);
    border: solid;
    border-style: outset;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s;
}

.button:hover {
    cursor: pointer;
}

.oblique-page button:active {
    transform: scale(0.95);
}

.oblique-page footer {
    font-family: var(--font-yuji), serif;
    margin-top: 50px;
}

.home-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #101010;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 2px;
    z-index: 1000;
}

@media (max-width: 767px) {
    video {
        height: 100dvh;
        min-height: -webkit-fill-available;
    }

    .home-btn {
        bottom: 80px;
    }
}
