@import "tailwindcss";

body {
  font-family: var(--font-gothic), sans-serif;
  color: #cacaca;
  margin: 0;
  padding: 0;
}

#visions {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  color: #cacaca;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 20%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
}

.sidebar-button {
  display: block;
  padding: 2px 2px;
  background-color: #000000;
  color: #cacaca;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}