@import "tailwindcss";

body {
  font-family: var(--font-gothic), sans-serif;
  color: #cacaca;
  margin: 0;
  padding: 0;
}

#visions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  color: #cacaca;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 20%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
}

.sidebar-button {
  display: block;
  padding: 2px 2px;
  background-color: #000000;
  color: #cacaca;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.projects-links {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

@media (max-width: 767px) {
  .projects-links {
    top: auto;
    left: auto;
    transform: none;
    bottom: 30px;
    right: 20px;
    text-align: right;
  }
}